{% extends "::base.html.twig" %}


{% block breadcrumb_items %}
    <li><span>Se connecter</span></li>
{% endblock %}

{% block breadcrumb_title %}Se connecter{% endblock %}

{% block body %}
    
<div class="row">

    <!-- BEGIN MAIN CONTENT -->
    <div class="main col-sm-6">



    </div>	
    <!-- END MAIN CONTENT -->

    <!-- BEGIN SIDEBAR -->
    <div class="sidebar col-sm-5 col-md-offset-1">

        <div id="e404-side">
            <h1>Se connecter</h1>
            <div class="alert alert-danger alert-error">{% for msg in app.session.flashbag.get('error_msg')  %}
                        {{ msg }}
                    {% endfor %}</div>
            <div id="cboxContent" style="background: transparent;">
                <div class="colorBox-content registration">

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                    <div class="form-group has-error">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" placeholder="Votre email" id="username" name="_username" value="" required="required" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group has-error">
                        <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" placeholder="Votre mot de passe" id="password" name="_password" required="required" class="form-control"/>
                        </div>
                    </div>

                    <input type="submit" id="_submit" name="_submit" value="ME CONNECTER" class="btn btn-fullcolor"/>

                    <p class="forgotten"><a class="inline_registr boxElement" href="{{ path('fos_user_resetting_request') }}">Identifiant ou mot de passe oublié ?</a></p>

                    </form>

                    <hr />

                    <div class="text-left">
                    <p>
                        Vous n'avez pas de compte Plateau Urbain?
                        <br />
                        <a class="inline_register cboxElement" href="#inline_register_content">Inscription</a>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->

</div>
    
{% endblock %}