/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/ivoryckeditor
/web/bundles/sonatacore
/web/bundles/sonataadmin
/web/bundles/sonatauser
/web/uploads/
/web/js/
/web/css/
/components/
/web/assetic/
/web/media
!web/media/.gitkeep

*~
tags
/src/AppBundle/Resources/public/css/main.css
/web/uploads
