<html>
<body>
<h1>Bonjour {{ user.fullName }},</h1>

{{ message }}

<br/>
Espace concerné :
<ul>
    <li>Nom : {{ space.name }}</li>
    <li>Description : {{ space.description }}</li>
</ul>

<br />
L'équipe Plateau Urbain
</body>
</html>