.btn{
  height: auto;
}

.btn-large{
  padding: 6px 40px;
}

.btn-grey{
  background-color: @grey-button;
}

.btn-wide{
  width: 300px;
}

.btn-status{
  width: 100%;
  text-align: center;
  padding: 3px 0;
  color: @white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  cursor: auto;

  i{
    font-size: 1.1em;
  }

  &:hover{
    color: @white;
  }
}

.btn-grey{
  background: #D4CAC0;
  font-size: 16px;
}

.btn-yellow{
  background: #C89641;
  font-size: 16px;

  &:hover{
    background: @red;
  }
}

.btn-refuse{
  background: @black;
}

.btn-draft{
  background: @red;
}

.btn-awaiting{
  background: #C89641;
}

.btn-accepted{
  background: #8CCB84;
}
