.icon{
  width: 50px;
  height: 50px;
  display: block;

  &.small{
    width: 25px;
    height: 25px;
  }

  &.inline{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
  }

  &.user-red-bold{
    background:url('/bundles/app/images/user_red_bold_icon.png');
  }

  &.struct-red-bold{
    background:url('/bundles/app/images/struct_red_bold_icon.png');
  }

  &.list-red-bold{
    background:url('/bundles/app/images/list_red_bold_icon.png');
  }

  &.soc-red-bold{
    background:url('/bundles/app/images/soc_red_bold_icon.png');
  }

  &.doc-red-bold{
    background:url('/bundles/app/images/doc_red_bold_icon.png');
  }

  &.small.add-red{
    background:url('/bundles/app/images/add_red_icon.png');
  }
}
