@import '_navbar';
@import '_slider';
@import '_forms';
@import '_footer';
@import '_color-box';
@import '_icons';
@import '_partners';
@import '_space';
@import '_applications';

@brown-dark: #5A3A0B;
@brown-light: #c0b7ad;
@brown-text: #AB9B8B;
@brown-text-dark: #6D4E22;
@brown-ligther: #E6C68D;
@brown-item: #C89641;
@grey: #E4DBD4;
@grey-button: #C0B7AE;
@cream: #F6EFE7;
@black: black;
@white: white;
@red: #bc1b38;

#wrapper{
  box-shadow: none;
}

.main{
  padding-right: 15px;
}

h1, h2, h3, h4, h5, h6{
  color: @red;

  &.has-icon{
    &.medium{
      line-height: 40px;
    }
  }

  &.no-margin{
    margin: 0;
  }
}

h3{
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto';
  margin-bottom: 10px;
}

h3 + small{
  margin-left: 45px;
}

h4{
  font-weight: bold;
}

.results-numbers h4{
  color: @black;
  line-height: 40px;
}

.left-title{
  text-align: left;

  & + hr{
    border-top-color: @brown-light;
    margin: 0;
    opacity: .5
  }
}

.box-information{

  .box-title{
    position: relative;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: normal;
    border-bottom: solid 1px #CFC1B6;

    .icon{
      margin: auto;
    }

    &:after{
      position: absolute;
      background: none;
      font-family: 'FontAwesome';
      content: '\f0d7';
      color: #CFC1B6;
      bottom: -8px;
      left: 0;
      right: 0;
      margin: auto;
      width: 30px;
      height: 8px;
      font-size: 22px;
      line-height: 8px;
    }
  }

  .box-content{
    background: #F2E9E2;

    table tbody tr{
      th{
        font-weight: normal;
        color: @brown-text-dark;
      }
      td{
        color: @black;
      }
    }
  }
}


.section-title, .section-highlight{
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 0px;

  .icon{
    margin: auto;
  }
}

.danger{
  color: @red;
}

.alert-warning{
  background-color: #E6C68D;
  border: none;
  color: @black;
}

.alert{
  p{
    font-size: 18px;
    margin: 20px 0;
    font-weight: 300;
  }
}


span[data-class=danger] + .tooltip{
  .tooltip-inner{
    color: @white;
    background-color: @red;
  }

  .tooltip-arrow:after{
    border-right-color: @red;
  }
}

.btn{
  height: auto;
}

.btn-large{
  padding: 6px 40px;
}

.btn-grey{
  background-color: @grey-button;
}

.btn-wide{
  width: 300px;
}

.btn-status{
  width: 100%;
  padding: 3px 20px;
  color: @white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  cursor: auto;

  i{
    font-size: 1.1em;
  }

  &:hover{
    color: @white;
  }
}

.btn-grey{
  background: #D4CAC0;
  font-size: 16px;
}

.btn-refuse{
  background: @black;
}

.btn-draft{
  background: @red;
}

.btn-awaiting{
  background: #C89641;
}

.btn-accepted{
  background: #8CCB84;
}

.sort{
  label i{
    background: @white;
  }
}

.chzn-container{
  border-radius: 5px;
}

dl.dl-with-icon{
  dt{
    width: 25px;
    text-align: center;
  }
  dd{
    margin-left: 30px;
  }

  .dd-title{
    line-height: 25px;
  }
}

dl.dl-with-fa-icon{
  dt{
    width: 12px;
    text-align: center;
  }
  dd{
    margin-left: 20px;
  }
}

.tip{
  color: #B3B3B3 !important;
}

.no-results{
  margin: 30px 0;
}

.container > .top{
  background: url('/bundles/app/images/white_top.png') no-repeat bottom;
  background-size: contain;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  z-index: 100;
}

form .main .section-title{
  font-weight: normal;

  border-bottom: solid 1px #CFC1B6;

  &:after{
    background: none;
    font-family: 'FontAwesome';
    content: '\f0d7';
    color: #CFC1B6;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 8px;
    font-size: 22px;
    line-height: 8px;
  }
}

.application-header {

  h1{
    font-size: 36px;
  }

  h2{
    font-size: 26px;
  }
}

.pagination-wrapper{
  margin-top: 50px;
  padding-top: 35px;
  border-color: fade(@brown-text, 50%);
}

.pagination{
  li{
    display: inline-block;
    margin: 10px;

    &:first-child > span > span:before{
      content: "\f053";
      font-family: "FontAwesome";
    }

    &:last-child > span > span:before{
      content: "\f054";
      font-family: "FontAwesome";
    }

    & > span{
      padding: 10px 20px;
      cursor: pointer;
      background: @black;
      color: @white;

      &:hover{
        background: @red;
      }
    }
  }
}
