{% extends "::base.html.twig" %}

{% block breadcrumb_items %}
    <li>
        <span>Liste de mes espaces</span>
    </li>
{% endblock %}

{% block body %}

<div class="row">
    <!-- BEGIN MAIN CONTENT -->
    <div class="col-sm-12">
        <h1 class="property-title">Liste de mes espaces</h1>
    </div>
</div>    

{% if pagination | length == 0 %}
    <div class="center">
        <p>Vous n'avez aucun espace à gérer.</p>
        <a href="{{ path('space_manager_add') }}" class="btn btn-fullcolor">Ajouter un espace</a>
    </div>
{% else %}
<div id="listing-header" class="clearfix">
    <div class="form-control-small">
        <select id="sort_by" name="sort_by" data-placeholder="Trier par">
            <option value=""> </option>
            <option value="created">Trier par date</option>
            <option value="city">Trier par ville</option>
        </select>
    </div>

    <div class="sort">
        <ul>
            <li id="desc"><i data-toggle="tooltip" data-placement="top" title="Sort Descending" class="fa fa-chevron-down"></i></li>
            <li id="asc"><i data-toggle="tooltip" data-placement="top" title="Sort Ascending" class="fa fa-chevron-up"></i></li>
        </ul>
    </div>
</div>    
    
<!-- BEGIN PROPERTY LISTING -->
<div id="property-listing" class="list-style clearfix">
    <div class="row">
    {% for space in pagination %}
        {% include 'AppBundle:SpaceManagement/Partials:space.html.twig' with {'space' : space, 'context' : 'manage_list' } %}        
    {% endfor %}
    </div>
</div>
<!-- END PROPERTY LISTING -->


{{ knp_pagination_render(pagination) }}
{% endif %}

{% endblock body %}