<div class="row pu-actualities white-top">

  <div class="top"></div>

  <h2 class="section-title">Nos réalisations</h2>

  <div id="home-grid">
  	<div id="freewall" class="free-wall" data-fixSize="true">
      {% for actuality in actualities %}
  		<div class="item">
        <img src="{{ vich_uploader_asset(actuality, 'image') }}" />
        <a href="{{actuality.link}}" class="info">
  				<h3>{{actuality.title}}</h3>
  				<span class="location">{{actuality.subtitle}}</span>
        </a>
  		</div>
      {% endfor %}
  	</div>
  </div>
</div>
