<div class="row pu-partners">
    <h2 class="section-title animate-from-bottom animation-from-bottom"
      data-animation-direction="from-bottom"
      data-animation-delay="50">Nos partenaires
    </h2>

    <div id="featured-properties-slider" class="owl-carousel fullwidthsingle" data-animation-direction="from-bottom" data-animation-delay="250">
        <div class="item">
            <div class="col-sm-4">
                <a href="http://aurore.asso.fr/" target="_blank"><img src="{{ asset('/bundles/app/images/aurore.gif') }}" alt="Aurore" /></a>
            </div>
            <div class="col-sm-4">
                <a href="http://www.atelier-idf.org/" target="_blank"><img src="{{ asset('/public/images/atelier_logo.png') }}" alt="Atelier IDF" /></a>
            </div>
            <div class="col-sm-4">
                <a href="http://www.orie.asso.fr/" target="_blank"><img src="{{ asset('/bundles/app/images/orie.gif') }}" alt="orie" /></a>
            </div>
        </div>
    </div>

</div>
