{% extends 'base.html.twig' %}

{% block breadcrumb_items %}
<li>
    <span>Conditions générales d'utilisation</span>
</li>
{% endblock %}


{% block body %}

<div class="row">
  <div class="main col-sm-12">
    <h1 class="section-title">Conditions générales d'utilisation</h1>
    <hr />
  </div>
</div>

<div class="row">
  <div class="main col-sm-12 col-md-10 col-md-offset-1 content-text">
    <p>
      Merci de lire attentivement les conditions d’utilisations du Site car elles
      contiennent des informations importantes concernant vos droits, obligations
      et voies de recours.
    </p>

    <h2>ARTICLE PREMIER : OBJET</h2>

    <p>
      Les présentes Conditions Générales ont pour objet de définir les
      modalités de mise à disposition des services de la plateforme Plateau
      urbain, ci-après nommée « le Site » et les conditions d’utilisation du
      Site par l’Utilisateur.<br>
      Tout accès et/ou utilisation du Site suppose l’acceptation et le respect
      de l’ensemble des termes des présentes Conditions Générales et leur
      acceptation inconditionnelle. Elles constituent donc un contrat entre
      le Site et l’Utilisateur, au sens des dispositions du Code civil.<br>
      Dans le cas où l’Utilisateur ne souhaite pas accepter tout ou partie des
      présentes conditions générales, il lui est demandé de renoncer à tout
      usage du Site.
    </p>

    <h2>ARTICLE 2 : MENTIONS LÉGALES</h2>

    <p>
      Le Site est édité par :
      <ul class="list-unstyled">
        <li>Association PLATEAU URBAIN, 82 avenue Denfert Rochereau 75014 Paris</li>
        <li>Président : Simon Laisney</li>
        <li>Contact : <a href="mailto:contact@plateau-urbain.com">contact@plateau-urbain.com</a></li>
        <li>Ce Site est hébergé par OVH</li>
        <li>(Ci-après l’ « Éditeur »)</li>
        <li>Crédits photographiques : Gilles Simon // Sarah Cantaloube</li>
      </ul>
    </p>

    <h2>ARTICLE 3 : DÉFINITIONS</h2>

    <p>
      <strong>Utilisateur : </strong><br>
      L’ « Utilisateur » est toute personne qui utilise le Site ou tout autre
      service offert sur le Site.
    </p>
    <p>
      <strong>Contenu Utilisateur : </strong><br>
      Le terme «Contenu Utilisateur» désigne les informations transmises par
      l’utilisateur dans les différentes sections du Site.
    </p>
    <p>
      <strong>Membre : </strong><br>
      Le terme «Membre» désigne un utilisateur identifié sur le Site.
    </p>
    <p>
      <strong>Nom d’utilisateur :</strong><br>
      Le terme «Nom d’utilisateur» contient des informations nécessaires pour
      identifier un utilisateur sur le Site pour accéder aux zones réservées
      aux membres.
    </p>
    <p>
      <strong>Mot de passe :</strong><br>
      Le «Mot de passe» est une information confidentielle que l’Utilisateur
      doit garder le secret, ce qui permet, en conjonction avec sa carte
      d’identité, de prouver son identité.
    </p>

    <h2>ARTICLE 4 : OBJET DU SERVICE</h2>

    <p>
      Le Site permet aux propriétaires et gestionnaires, publics et privés,
      de proposer leurs locaux vacants pour une occupation temporaire à de
      jeunes entreprises, associations, artistes au service de la création
      ou tout autre occupant potentiel répondant aux critères de sélection
      de l’Editeur.
    </p>

    <p>
      Le Site propose une mise en relation entre propriétaires et porteurs de
      projet. Il ne propose aucun autre service, de quelque nature que ce soit.
    </p>

    <p>
      La publication d’offres d’occupation de locaux sur le Site est
      conditionnée au respect d’un loyer raisonnable, qui correspond au prix
      des charges d’exploitation pour le local concerné, intégrant, le cas
      échéant, des travaux de réhabilitation.
    </p>

    <p>
      La responsabilité de l’éditeur ne saurait être engagée en cas d’offre
      erronée ou trompeuse, ainsi qu’en cas de différend entre parties tierces
      (voir l’article « Limitation de responsabilité »).
    </p>

    <h2>ARTICLE 5 : UTILISATION DU SERVICE</h2>

    <p>
      Le Site est accessible gratuitement à tout Utilisateur disposant d’un
      accès à Internet. Tous les coûts associés à l’accès au Site, que ce
      soit l’accès des coûts des matières, de logiciels ou Internet n’engagent
      que la responsabilité de l’Utilisateur. Il est seul responsable du bon
      fonctionnement de son équipement informatique ainsi que de son accès
      à Internet.
    </p>

    <p>
      Certaines fonctionnalités du Site sont réservées aux Membres après
      connexion avec leur identifiant et leur mot de passe, parmi lesquelles :
    </p>

    <ul>
      <li>La consultation d’une offre  </li>
      <li>La constitution d’un dossier de candidature</li>
      <li>La création et le suivi d’une offre</li>
    </ul>

    <p>
      La plateforme distingue 2 catégories d’Utilisateur :
    </p>

    <ul class="list-unstyled">
      <li>
        1 – les demandeurs : porteurs de projet - associations, particuliers
        ou entreprises - à la recherche d’un local pour un usage évènementiel
        ou à terme (atelier, bureaux, espaces d’exposition et de création…)
      </li>
      <li>
        2 – les offreurs : propriétaires ou gestionnaires de locaux, privés
        ou publics
      </li>
    </ul>

    <p>
      L’association PLATEAU URBAIN se réserve le droit de refuser l’accès aux
      différents services, unilatéralement et sans préavis à tout Utilisateur
      ne respectant pas ces conditions d’utilisation, notamment par la
      publication d’informations erronées, trompeuses ou ne respectant pas les
      principes énoncés plus haut.
    </p>

    <p>
      L’association PLATEAU URBAIN met en œuvre tous les moyens raisonnables
      à sa disposition pour assurer un accès de qualité au Site, mais n’est
      tenu à aucune obligation d’y parvenir.
    </p>

    <p>
      L’association PLATEAU URBAIN ne peut être tenu responsable de tout
      dysfonctionnement du réseau ou d’un serveur ou tout autre événement
      hors du contrôle raisonnable qui empêcherait ou dégraderait l’accès
      au Site.
    </p>

    <p>
      L’association PLATEAU URBAIN se réserve le droit d’interrompre,
      de suspendre temporairement ou de modifier sans préavis l’accès à tout
      ou partie de son Site, afin d’assurer le maintien ou pour toute autre
      raison, sans que l’interruption donne lieu à une obligation
      ou indemnisation.
    </p>

    <p>
      L’Utilisateur est seul responsable de tout le contenu qu’il génère,
      télécharge, publie ou distribue afin d’utiliser les services du Site.
      Comme condition de l’utilisation des services, il accepte de ne pas
      utiliser les services à des fins illégales ou interdites.
    </p>

    <p>
      En utilisant le Site, il est interdit de :
    </p>

    <ul>
      <li>
        Utiliser des robots, des araignées ou d’autres processus
        automatiques ou manuels, d’examiner ou de réutiliser des pages ou le
        contenu de ce Site sans notre autorisation ;
      </li>
      <li>
        Contacter nos utilisateurs et/ou récupérer leurs données à des fins
        autres que celles prévues par le Site :
      </li>
      <li>
        Copier le code source du Site ;
      </li>
      <li>
        Utiliser le Site afin d’altérer ses performances ou ses
        fonctionnalités par quelque moyen que ce soit: logiciel ou routine
        qui contient des virus ou autres bombes ;
      </li>
      <li>
        Constituer toute copie illégale ou non autorisée, de la totalité ou
        d’une partie, des droits d’auteur d’une autre personne ou d’une offre
        protégées par copyright. Ainsi que de divulguer des secrets
        commerciaux sans autorisation, ou en violant les droits de propriété
        d’un tiers ;
      </li>
      <li>
        Dénaturer la source ou l’identité de n’importe quel matériau ;
      </li>
      <li>
        Insérer des informations fausses ou non pertinentes sur le Site ;
      </li>
      <li>
        Poster ou transmettre tout contenu illégal, telles que photographies,
        vidéos ou des commentaires menaçants, humiliants, diffamatoires,
        obscènes, haineux, pornographiques ou blasphématoires, ou tout
        matériel qui pourraient constituer une infraction criminelle, engager
        la responsabilité civile, enfreindre la loi ou les encourager à le
        faire, ou un contenu qui pourrait être utilisé à des fins contraires
        à la loi française.
      </li>
    </ul>

    <h2>ARTICLE 6 : TARIFS</h2>

    <p>
      Demandeurs : l’utilisation du Site est gratuite pour les demandeurs.
    </p>

    <p>
      Offreurs : l’utilisation du Site est conditionnée à une adhésion
      annuelle à l’association PLATEAU URBAIN
    </p>

    <p>
      NB : le Site ne propose qu’une mise en relation entre demandeurs et
      offreurs. L’association PLATEAU URBAIN fédère un réseau de partenaires
      permettant d’accompagner demandeurs et offreurs par
      des « contrats d’accompagnement ». Cette offre payante peut comprendre
      la gestion d’offres ou la recherche de locaux, l’accompagnement
      technique et stratégique (audits, programmation) ou le pilotage de
      projet. Pour toute demande de renseignements, n’hésitez pas à nous
      contacter : <a href="mailto:contact@plateau-urbain.com">
      contact@plateau-urbain.com</a>
    </p>

    <h2>ARTICLE 7 : DROITS DE PROPRIÉTÉ INTELLECTUELLE</h2>

    <p>
      « PLATEAU URBAIN » est une marque déposée.
    </p>

    <p>
      Toute reproduction non autorisée de ces marques, logos et signes distinctifs constitue une contrefaçon sanctionnée par la loi.
    </p>

    <p>
      L’Utilisateur est seul responsable du Contenu de l’Utilisateur qui est en ligne via le Site, ainsi que des textes et / ou opinions qu’il formule. Il s’engage notamment à ce que ces données ne soient pas susceptibles de porter atteinte aux intérêts légitimes d’une tierce personne quelle qu’elle soit.
    </p>

    <p>
      PLATEAU URBAIN se réserve le droit de supprimer totalement ou en partie le Contenu de l’Utilisateur, à tout moment et pour quelque raison que ce soit, sans préavis ni justification. L’utilisateur n’aura aucune réclamation à ce titre.
    </p>

    <h2>ARTICLE 8 : CONFIDENTIALITÉ</h2>

    <p>
      Dans une logique de respect de la vie privée de ses Utilisateurs, PLATEAU URBAIN s’engage à ce que la collecte et le traitement d’informations personnelles, effectués au sein du Site, soient effectués conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, dite Loi « Informatique et Libertés ». A ce titre, le Site fait l’objet d’une déclaration à la CNIL sous le numéro XXXXXXXXXXXXXXX.
    </p>

    <h2>ARTICLE 9 : LIMITATION DE RESPONSABILITÉ</h2>

    <p>
      Le Site est un Site de publication et d’annonces de locaux vacants ou sous-utilisés, disponibles pour une occupation temporaire, loués à un prix correspondant aux charges d’exploitation, intégrant les coûts d’éventuels travaux de réhabilitation.
    </p>

    <p>
      Les annonces sur le Site proviennent de membres de PLATEAU URBAIN. Chaque membre est responsable des contenus qu’il publie. PLATEAU URBAIN ne peut garantir l’exactitude ou la pertinence de ces annonces. En outre, les informations fournies sur les annonces sont remplies par les utilisateurs du Site et ne sont pas vérifiées dans le détail par PLATEAU URBAIN.
    </p>

    <p>
      L’Utilisateur est seul responsable de la bonne utilisation et de l’exactitude des informations mises à disposition sur le Site.
    </p>

    <p>
      En outre, l’Utilisateur s’engage à indemniser PLATEAU URBAIN de toutes les conséquences néfastes liées directement ou indirectement à l’utilisation de son Site.
    </p>

    <p>
      L’accès à certaines sections du Site nécessite l’utilisation d’un nom d’utilisateur et d’un mot de passe.
    </p>

    <p>
      Le mot de passe choisi par l’Utilisateur est personnel et confidentiel. L’Utilisateur s’engage à conserver son mot de passe secret et à ne pas les divulguer sous quelque forme que ce soit.
    </p>

    <p>
      L’utilisation du nom d’utilisateur et de son mot de passe à travers Internet se fait aux risques de l’Utilisateur. Il appartient à l’Utilisateur de prendre toutes les mesures nécessaires afin de protéger ses données contre toute attaque.
    </p>

    <p>
      Il revient néanmoins à PLATEAU URBAIN de mettre en œuvre tous les moyens nécessaires pour assurer la sécurité et la confidentialité des données transmises. L’Utilisateur est informé qu’un ou plusieurs cookies ne contenant aucune information personnelle, pourront être placés sur son disque dur pour assurer l’identification.
    </p>

    <p>
      L’Utilisateur est conscient l’impossibilité d’une garantie totale de sécurité des échanges de données puisque l’outil utilisé qu’est Internet n’offre pas une fiabilité imparable. PLATEAU URBAIN ne sera pas responsable des dommages résultant de la transmission à un tiers par un Utilisateur de toute information, y compris de son identifiant et / ou mot de passe via le Site.
    </p>

    <p>
      PLATEAU URBAIN ne pourra en aucun cas, dans les limites de la loi applicable, être tenu responsable des dommages et / ou pertes, directs ou indirects, matériels ou immatériels, de quelque nature que ce soit résultant d’une indisponibilité du Site ou de toute utilisation du Site. Le terme «utilisation» doit être compris dans un sens large, c’est-à-dire tout usage du Site quel qu’il soit, licite ou non.
    </p>

    <p>
      PLATEAU URBAIN ne saurait en particulier être tenu responsable en cas de litiges entre utilisateurs. En acceptant les présentes conditions d’utilisation, l’Utilisateur dégage l’Editeur du Site de toute responsabilité s’agissant d’un conflit né entre parties.
    </p>

    <p>
      PLATEAU URBAIN ne sera pas tenu responsable de dommages causés en cas de force majeure ou d’événements indépendants de sa volonté.
    </p>

    <p>
      L’Utilisateur s’engage, en général, à se conformer à toutes les lois et règlements en vigueur en France.<br>
      Les annonces sur le Site peuvent contenir des hyperliens vers des Sites internet édités et / ou gérés par des tiers. Dans la mesure où aucun contrôle n’est exercé sur ces ressources externes, l’Utilisateur reconnaît que PLATEAU URBAIN n’assume aucune responsabilité pour la mise à disposition de ces ressources, et ne peut être tenu pour responsable de leur contenu.
    </p>

    <h2>ARTICLE 10 : DURÉE</h2>

    <p>
      Ce contrat d’utilisation du Site est conclu pour une durée indéterminée tant que le Membre est inscrit sur le Site.
    </p>

    <h2>ARTICLE 11 : RÉSILIATION</h2>

    <p>
      Le contrat d’utilisation du Site pourra être résilié à tout moment par le Membre dans son espace d’administration à l’onglet « Mon profil ».
    </p>

    <h2>ARTICLE 12 : DROIT APPLICABLE ET JURIDICTION COMPÉTENTE</h2>

    <p>
      Tout différend lié à l’utilisation du Site sera soumis au droit Français.
    </p>

    <p>
      Tout litige sera porté devant les Tribunaux du ressort de PARIS.
    </p>

  </div>
</div>

{% endblock %}

{% block partners %}
    <div class="white-top">
      <div class="top"></div>
        <div class="container pb100">
            {% include '@App/Default/_partners.html.twig' %}
        </div>
    </div>
{% endblock %}
