{% extends 'base.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block prebody %}

{% endblock %}

{% block body %}

<section class='row pu-home-content margin-section'>
<div class='col-sm-12'>
<div class="image-home"></div>
    <h1 class="center">Vous cherchez un espace de travail abordable dans un lieu vivant et créatif</h1>
    <h2 class="center">Consultez nos appels à candidatures en cours et inscrivez-vous pour être informé·es dès leurs lancements !</h2>
<div class="center">
    <a href='http://www.plateau-urbain.com' target="_blank" class='btn btn-line'><span>Je m'inscris</span></a>
</div>
</div>

</section>


<section class='row pu-home-content'>
    <div class="separateur">
    <div class='col-sm-12 center btn-center'>
        <a href='http://www.plateau-urbain.com' target="_blank" class='btn btn-ancre'>Vous êtes propriétaire d'un batîment ?</a>
        <a href='http://www.plateau-urbain.com' target="_blank" class='btn btn-ancre'>Vous avez des questions ? Consultez la FAQ</a>
    </div>
</div>
<div class='col-sm-12 center'>
<div class="candidature">
        <h1>Les derniers appels à candidatures</h1>
</div>
</div>
</section>
<section class='row pu-home-content'>
<div class="col-sm-8 inscription">
        <h2 class="bat">Inscrivez-vous pour recevoir en avant-première les nouveaux appels à projets</h2>
</div>
<div class="col-sm-4 btn-inscription">
        <a href='http://www.plateau-urbain.com' target="_blank" class='btn btn-line'><span>Je m'inscris</span></a>
</div>

</section>

{% endblock %}

{# {% block actualities %}
  <div class="row pu-actualities white-top">
    <div class="top"></div>
    {{ render(controller('AppBundle:Actuality:show')) }}
  </div>
{% endblock %}

{% block partners %}
    <div>
        <div class="container pb100">
            {% include '@App/Default/_partners.html.twig' %}
        </div>
    </div>
{% endblock %} #}
