{% extends 'base.html.twig' %}

{% block breadcrumb %}{% endblock %}


{% block body %}

{% endblock %}

{% block partners %}
    <div>
        <div class="container pb100">
            {% include '@App/Default/_partners.html.twig' %}
        </div>
    </div>
{% endblock %}
