<h4>
  Pièce(s) demandée(s)
</h4>

<ul class="list-dotted">
  <li class="li-icon check">Lorem ipsum dolor sit amet.</li>
  <li class="li-icon check">Lorem ipsum dolor sit amet.</li>
  <li class="li-icon check">Lorem ipsum dolor sit amet.</li>
</ul>

<h4 class="black">
  <i class="icon small icon-inline add-black"></i>
  Nom de la pièce à joindre à la candidature
</h4>

<p>&nbsp;</p>

<div class="row">
  <div class="col-sm-7">
    <input type="text" name="" value="" placeholder="Nom de la pièce" class="form-control">
  </div>

  <div class="col-sm-5">
    <button value="" type="submit" name="button" class="btn btn-block btn-fullcolor form-control">Ajouter</button>
  </div>
</div>

<p>&nbsp;</p>
