<h4>
  Pièce(s) demandée(s)
</h4>

<ul class="list-dotted">
  {% for document in documents %}
    <li class="li-icon check">
      {{document.name}}
      <a href="{{ path('space_manager_removedocument', { 'id': document.id }) }}" class="pull-right"><i class="fa fa-trash"></i></a>
    </li>
  {% endfor %}
</ul>

<h4 class="black">
  <i class="icon small icon-inline add-black"></i>
  Nom de la pièce à joindre à la candidature
</h4>

<p>&nbsp;</p>

<div class="row">
  <div class="col-sm-7">
    {{form_widget(form.name, {'attr': {'placeholder': 'Nom de la pièce'}})}}
  </div>

  <div class="col-sm-5">
    <button value="" type="submit" name="button" class="btn btn-block btn-fullcolor form-control">Ajouter</button>
  </div>
</div>

<p>&nbsp;</p>
