{% extends "::base.html.twig" %}

{% block prebody %}
        <div class="pb100"></div>
        {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
{% endblock %}

{% block body %}
    <div class="container white">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
